<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Interview</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>

<div id="wrapper">
    <div id="inner1">
        <ul class="menu">
            <li><a href="">Main</a></li>
            <li><a href="">Search</a>
                <ul>
                    <li><a href="">Get All</a></li>
                    <li><a href="">Get Filtered</a></li>
                </ul>
            </li>

            <li><a href="">Reviews</a></li>
            <li><a href="https://github.com/andrewdark/interview">View source code</a></li>
        </ul>
    </div>
    <div id="inner2">
        <table class="interview">
            <caption>Interviews Search</caption>
            <tr>
                <td>First Name:</td><td><input id="firstName" type="text"></td>
                <td>Date:</td><td><input id="date" type="date"></td>
            </tr>
            <tr>
                <td>Last Name:</td><td><input id="lastName" type="text"></td>
                <td>Status:</td>
                <td>
                    <select id='status' name='status'>
                        <option value=''></option>
                        <option th:each="status : ${T(ua.pp.darknsoft.domain.entity.Status).values()}" th:value="${status}" th:text="${status.displayName}"></option>
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Position:</td><td><input id="position" name="position" type="text"></td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Email:</td><td><input id="email" name="email" type="text"></td>
                <td></td><td></td>
            </tr>
            <tr>
                <td><button class="search" onclick="searchFilteredInterviews()">Search</button></td><td></td>
            </tr>
        </table>
    </div>
    <div id="inner3" class="inner3">
        <table class="interview">
            <caption>Interviews</caption>
            <tr>
                <th class="col">First Name</th>
                <th class="col">Last Name</th>
                <th class="col">Date</th>
                <th class="col">Position</th>
                <th class="col">Status</th>
                <th class="col">Actions</th>
            </tr>
            <th:block th:each="inter : ${interviews}">
                <tr>
                    <td th:text="${inter.firstName}">...</td>
                    <td th:text="${inter.lastName}">...</td>
                    <td th:text="${inter.date}">...</td>
                    <td th:text="${inter.position}">...</td>
                    <td th:text="${inter.Status}">...</td>
                    <td>
                        <a href="">View</a><a href="">Conduct</a><a href="">Edit</a>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
    <div id="inner4" class="inner4">
        <button class="back">Back</button>
    </div>
</div>
</body>
</html>