<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HELLO</h1>
<table>
    <tr>
        <td >ID</td>
        <td>EMAIL</td>
        <td>DATE</td>
        <td>INTER-S</td>
    </tr>
    <th:block th:each="iw : ${interviews}">
        <tr>
            <td colspan="2" th:text="${iw.id}">...</td>
            <td colspan="2" th:text="${iw.candidate.email}">...</td>
            <td colspan="2" th:text="${iw.date}">...</td>
            <td colspan="2" th:text="${iw.position}">...</td>
            <!--<td>-->
                <!--<th:block th:each="is : ${interviews.interviewerSet}">-->
                    <!--<p th:text="${is.id}"></p>-->
                    <!--<p th:text="${is.email}"></p>-->
                <!--</th:block>-->

            <!--</td>-->
        </tr>
    </th:block>
</table>
</body>
</html>